body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background-color: #ccc;
}


.box{
    width: 220px;
    height: 220px;
    background-color: #fff;
    margin-top: 50px;
    color: red;
    position: relative;
    left: 0;
    border: 2px solid #0009;
    margin: auto;
    margin-top: 50px;

    /* Como se tiene que manejar el desbordamiento de la caja */

    overflow: hidden;
    overflow: scroll;

    overflow-y: scroll;
    overflow-x: hidden;

    /* No reserva espacio a la barra scroll */
    overflow: clip;

    /* El 'overflow: auto' es el que se usa SIEMPRE*/
    overflow: auto;
    
}