body{
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background-color: #222;
}

h2{
    text-align: center ;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.4em;
    padding: 10px;
}

form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 35px #fff2;
    margin-top: 50px;
    border-radius: 8px;
}

.form_input{
    padding: 6px 20px;
}


/* Selectores Multiples */
/* Le damos el estilo a dos o mas elementos */
/* (elemento1, elemento2, etc...) */
input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #0003;
    background-color: transparent;
    border-radius: 4px;
    color: #eee;

}

textarea{

    /* Limitar el tamaño de el ancho 
        Tanto el minimo como el maximo de anchura */
    min-width: 100%;
    max-width: 100%;

    /* (resize: both;) Permite que se pueda desplazar el textarea en eje 'x' y 'y' */
    /* (resize: vertical;) Permite que se pueda desplazar el textarea en eje 'x' */
    /* (resize: horizontal;) Permite que se pueda desplazar el textarea en eje 'x' y 'y' */
    /* (resize: none;) No permite desplazar el tamado del textarea */
    resize: none;
    
    /* Limitar el tamaño de la altura
        Tanto el minimo como el maximo de altura */
    min-height: 100px;
    max-height: 200px;

    /* Se debe especificar la fuente dentro del text-area */
    font-family: sans-serif;
}