/* Selector Elements */
p{
    color: red;
}

li{
    color: green;
}

/* Identificador Grupal (class=) */
.faltante{
    color: blueviolet;
}

/* Identificador Unico (id=)*/
#ingrediente{
    color: brown;
}